/* Common Settings */
@font-face {
    font-family:'SeoulNamsanM';
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot');
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot?#iefix') format('embedded-opentype'), /* IE 6,7,8 적용, embedded-opentype -> IE 8,9 적용 */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.woff') format('woff'), /* IE 제외한 나머지 (크롬 등등) */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.ttf') format('truetype');
}

html {
  font-size: 15px;
  line-height: 1.6;
}

* {
	font-family: 'SeoulNamsanM', sans-serif;
	letter-spacing: -0.02em;
}

button {
  border: none;
  cursor: pointer; /* 버튼에 커서를 올리면 손가락모양으로 바뀐다. */
}

button:focus {
  outline: none; /* 버튼에 커서를 클릭하면 바깥줄에 아무것도 적용하지 않는다. */
  border: none;
}

a {
  color: inherit; /* 상위 선택자 *로부터 색 상속 */
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.btn:focus, .btn:active {
	box-shadow: none;
}

.bg-faded {
  background-color: #666666 !important; /* bg-faded 클래스를 적용하면 배경색상을 회색으로 설정 */
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

/* 피드백 & 도움말 */
.btn__feedback {
  background-color: #FFFFFF;
  color: #3D74AA;
}

.btn__feedback:focus {
  background-color: #FFFFFF;
  outline: none;
  border: none;
}

.btn__help {
  background-color: #FFFFFF;
  color: #3D74AA;
}

.btn__help:focus {
  background-color: #FFFFFF;
  outline: none;
  border: none;
}

/* 환경설정 메뉴 탭 */
.setting__title {
  color: #666666;
  margin-bottom: 30px;
}

@media (max-width: 400px) { /* 최대 너비 400픽셀 이하일 때 아래 속성 적용 */
  .setting__menu {
    font-size: .7rem;
  }
}

/* 회원 탈퇴 */
/* 최대 너비 400픽셀일 때 아래 속성 적용  */
@media (max-width: 400px) {
  .withdrawl {
    font-size: 1.06rem !important;
  }
  .text_zero {
    font-size: 2.14rem !important;
  }
  .text_first {
    font-size: 1.96rem !important;
  }
  .text_second {
    font-size: 0.88rem !important;
  }
  .text_third {
    font-size: 0.8rem !important;
  }
  .text_fourth {
    font-size: 0.62rem !important;
  }
}


@media screen and (min-width: 401px) and (max-width: 576px) {
  .withdrawl {
    font-size: 1.33rem !important;
  }
  .text_zero {
    font-size: 2.67rem !important;
  }
  .text_first {
    font-size: 2.44rem !important;
  }
  .text_second {
    font-size: 1.11rem !important;
  }
  .text_third {
    font-size: 1rem !important;
  }
  .text_fourth {
    font-size: 0.78rem !important;
  }
}

.withdrawl {
  font-size: 1.6rem;
  color: #000000;
}

.text_zero {
  font-size: 3.2rem;
  color: inherit;
}

.text_first {
  font-size: 2.93rem;
  color: inherit;
  text-shadow: 2px 1px 6px #666666;
}

.text_second {
  font-size: 1.33rem;
  color: inherit;
}

.text_third {
  font-size: 1.2rem;
  color: inherit;
}

.text_fourth {
  font-size: 0.93rem;
  color: #666666;
}

.btn__yes {
  color: #FFFFFF;
  background-color: #3D74AA;
  border-radius: 100px;
  padding: 0 31px 0 31px;
  font-size: 1.3rem;
}

.btn__yes:hover {
  color: #3D74AA;
  background-color: #FFFFFF;
  border-radius: 100px;
  border-color: #3D74AA;
  border: 1px solid;
}

.btn__cancel {
  color: #FFFFFF;
  background-color: #3D74AA;
  border-radius: 100px;
  padding: 0 10px 0 10px;
  font-size: 1.3rem;
}

.btn__cancel:hover {
  color: #3D74AA;
  background-color: #FFFFFF;
  border-radius: 100px;
  border-color: #3D74AA;
  border: 1px solid;
}